doctype html
html
  head
    title TacosNow
    link(rel='stylesheet', href='/dist/bootstrap.min.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700")
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header
        nav.nav
    .content.container
      block content

    block scripts
      script(src="/dist/App.bundle.js")
