.home {
  padding: 0;
  .intro {
    background-image: radial-gradient($yellow, $red);
    padding: 125px 0;
    text-align: center;
    &--invite {
      margin-top: 80px;
    }
    &--form .field input {
      margin: auto;
      width: 280px;
    }
  }

.title {
  letter-spacing: 0.2em;
  }
}