@import 'partials/variables';

html, body {
    margin: 0;
    height: 100%;
}

html {
  font-size: 10px;
  color:$black;
}

body {
  background:
    radial-gradient(
      $yellow,
      $red
    )
    no-repeat center center / cover;
}