.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: $black;
  text-transform: uppercase;
  justify-content: space-between;
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 0; 
  overflow: hidden;
  background-color: $flat-black;
  font-family: $body_font;
  &--title {
    font-size: 20px;
  }
  &--section {
    display: flex;
    flex-flow: row-wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &--item {
    display: inline-flex;
    margin: auto 20px;
  }
  &--link {
    text-decoration: none;
    color: $silver;
  }
  &--link:hover {
    color: $green;
    transform: scale(1.1, 1.1); 
    transition: transform .2s ease-in-out;
    transition: color .2s ease-in-out;

  }
}