$header_font: 'Rubik', sans-serif;
$ease: cubic-bezier(.47,.01,0,1.01);


// USE LIME RED AND YELLOW
$aqua: #7FDBFF;
$black: #111111;
$blue: #0074D9;
$fuchsia: #F012BE;
$gray: #AAAAAA;
$green: #2ECC40;
$lime: #01FF70;
$navy: #001F3F;
$maroon: #85144B;
$olive: #3D9970;
$orange: #FF851B;
$purple: #B10DC9;
$red: #FF4136;
$silver: #DDDDDD;
$teal: #39CCCC;
$yellow: #FFDC00;
$white: #FFFFFF;